<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xml:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    bootstrap="phpunit.bootstrap.php">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>src/Tests/Unit/**</directory>
        </testsuite>
    </testsuites>
</phpunit>