<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="phpunit.bootstrap.php">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>src/Tests/Unit/**</directory>
        </testsuite>
    </testsuites>
</phpunit>
